.header a {
  color: rgb(var(--foreground)) !important;
}

.isSpecialPath.notScrolled a {
  color: rgb(var(--primary)) !important;
}
.isSpecialPath.notScrolled button {
  color: rgb(var(--primary)) !important;
}

.isSpecialPath.notScrolled button:hover svg,
.isSpecialPath.notScrolled button:focus svg {
  color: rgb(var(--primary-foreground)) !important;
}
.isSpecialPath.notScrolled button:hover,
.isSpecialPath.notScrolled button:focus {
  background-color: rgb(var(--primary)) !important;
}

.isSpecialPath.notScrolled a:hover,
.isSpecialPath.notScrolled a:focus {
  color: rgb(var(--foreground)) !important;
}
.isSpecialPath.notScrolled,
.isSpecialPath.notScrolled button:hover a,
.isSpecialPath.notScrolled button:focus a,
.isSpecialPath.notScrolled button:hover svg,
.isSpecialPath.notScrolled button:focus svg {
  color: rgb(var(--primary-foreground)) !important;
}

.scrollHeader {
  transition: transform 0.3s ease-in-out;
}

.headerHidden {
  transform: translateY(-100%);
}
