.sidebar {
  max-height: 100vh;
  /* margin-top: 0rem; */
  padding-bottom: 1rem;
  position: sticky;
  overflow-y: scroll;
  top: 0;
  /* background-color: green; */
  /* outline: 1px solid green; */
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  display: none;
}
.sidebar a:first-of-type {
  margin-top: 16px;
}
@media (min-width: 768px) {
  .sidebar {
    display: flex;
  }
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.sidebar::-webkit-scrollbar {
  display: none;
}
